<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>報告書管理システム</title>
    <link rel="stylesheet" href="static\css\login.css">
</head>
<body>
    <h3 class="heading03">報告書管理システム</h3>
    {% if error != null%}
        <p style="color:red;text-align:center;margin-top:15px;margin-bottom:-15px;">{{error}}</p>
    {% endif%}

    {% if msg != null%}
    <p style="color:blue;text-align:center;margin-top:15px;margin-bottom:-15px;">{{msg}}</p>
    {% endif%}



    <div class="form-wrapper">
        <h1>Sign In</h1>
        <form action="{{url_for('login')}}" method="post" >
          <div class="form-item">
            <label for="email"></label>
            <input type="email" name="mail" value="{{data.mail if data is defined else ''}}" autocomplete="off" placeholder="Email"></input>
          </div>
          <div class="form-item">
            <label for="password"></label>
            <input type="password" name="password" value="{{data.password if data is defined else ''}}" placeholder="Password"></input>
          </div>
          <div class="button-panel">
            <input type="submit" class="button" title="Sign In" value="Sign In"></input>
          </div>
        </form>
        <div class="form-footer">
          <p><a href="{{url_for('register_form')}}">新規登録</a></p>
        </div>
      </div>
</body>
</html>