<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\menu.css">
    <title>報告書管理システム</title>
</head>
<body>



    <h3 class="top" >報告書管理システム</h3>
    <div class="name">
        <p>{{user[1]}}さん</p>
    </div>
    <span class="user"></span>
    
    <h3 class="heading03">マイページ</h3>
    <div class="button_solid017">
        <div style="margin:40px 0 0-500px">
            <a href="{{url_for('report_list')}}">報告書</a>
        </div>
        <div style="margin: -110px -500px 0 0">
            <a href="{{url_for('approve_list')}}">承認</a>
        </div>
        <div style="margin:5px 0 0 -500px"> 
            <a href="{{url_for('logout')}}">ログアウト</a>
        </div>
    </div>
</body>
</html>