<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>報告書管理システム</title>
    <link rel="stylesheet" href="static\css\register-account.css">
</head>
<body>

   

    <h3 class="top" >報告書管理システム</h3>
    <h3 class="heading03" >新規アカウント登録</h3>
    {% if error != null %}
        <p style="color:red;text-align:center;margin-top:40px">{{error}}</p>
    {%endif%}



    <div class="box_con03" style="margin-top:60px;">
        <form action="{{url_for('register_exe')}}" method="post">
        <table class="formTable">
          <tr>
            <th>氏名<span>必須</span></th>
            <td><input type="text" name="user_name" class="wide"></td>
          </tr>
          <tr>
            <th>メールアドレス<span>必須</span></th>
            <td><input type="email" autocomplete="off" name="mail" class="wide"></td>
          </tr>
          <tr>
            <th>パスワード<span>必須</span></th>
            <td><input type="password" name="password" class="wide"></td>
          </tr>
        
        </table>
        
        <p class="btn">
            <span><input type="submit" value="  登録  " /></span>
        </p>
      </form>
    </div>



</body>
</html>