<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>就活報告書管理システム</title>
</head>
<body>
    <h3>ユーザ登録画面</h3>
    {% if error != null %}
        <p style="color:red">{{error}}</p>
    {%endif%}

    <form action="{{url_for('register_exe')}}" method="post">
        学籍番号: <input type="number" name="student_number"><br>

        クラス: <select size=1 name="school_class">
              <option value=1>情報システム科1年</option>
              <option value=2>情報システム科2年</option>
              <option value=3>総合システム工学科1年</option>
              <option value=4>総合システム工学科2年</option>
              <option value=5>総合システム工学科3年</option>
              <option value=6>高度情報工学科1年</option>
              <option value=7>高度情報工学科2年</option>
              <option value=8>高度情報工学科3年</option>
              <option value=9>高度情報工学科4年</option>
        </select><br>
              
        氏名：<input type="text" name="user_name"><br>
        メールアドレス: <input type="email" name="mail"><br>
        パスワード：<input type="password" name="password"><br>
        <button type="submit">登録</button>
    </form>
</body>
</html>